{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-6 offset-3">
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In!</legend>
                {{form|crispy}}
                <input type="submit" class="btn btn-outline-primary" value="Log In">
                <small class="text-muted mt-2"><a href="{% url 'password_reset' %}">Reset Your Password!</a></small>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
  </div>
  <div align="center" class="border-top pt-3">
    <small class="text-muted">Dont Have An Account<a href="{% url 'users:register' %}" class="ml-2 btn btn-success">Sign Up Now!</a></small>
  </div>
</div>

{% endblock %}
